@tailwind base;
@tailwind utilities;
@tailwind components;


.form {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 0.5px solid rgba(255, 255, 255, 0.164);
    padding: 20px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    height: max-content;
    width: 250px;
}